body
{
  color: antiquewhite; 
  background-color: darkgreen;
}
#folap
{
   padding:1%;


}

a:link
{
    color: lawngreen;
    margin:5px;
}
a:visited 
{
    color: lawngreen;
}
a:active
{
    color: lawngreen; 
}
a:hover
{
    color: green;
    background-color: lawngreen;
    font-size:large;
}
#pontok
{

    margin-left:4px;
    padding:1%;
}
#fejlec 
{
    background-image: url('kepek/fejlec.png');
    text-align: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
#fejlec h1
{
   
}

#abc
{
    padding: 1%;
}

.alairas
{
    text-align: center;
}

